@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');


body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: rgb(224, 240, 247);
} 

a {
    text-decoration: none;
}
h1, ul {
    margin-block-end: 0;
    margin-block-start: 0;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.close-btn {
    background: transparent;
    border: none;
    outline: none;
    color: rgb(126, 5, 5);
    font-size: 1.7rem;
    padding-top: 9px;
    transition: all 0.3s linear;
}

.close-btn:hover{
    transform: rotate(360deg);
}
.title {
    font-size: 1.8rem;
    font-weight: 900;
    text-shadow: 1px 3px 4px rgb(133, 70, 70);
    letter-spacing: 3px;
}

.head-span {
    color: #1489dd;
}

.sidebar-toggle {
    position: fixed;
    background: transparent;
    border: none;
    outline: none;
    right: 40px;
    top: 40px;
    font-size: 2.5rem;
    color: #1489dd;
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.sidebar {
    height: 0;
    display: none;
    transition: width 4s ease-out;
}

.barShown {
    position: absolute;
    display: grid;
    background: white;
    grid-template-rows: 1fr 8fr 1fr;
    row-gap: 1rem;
    height: 100%;
    width: 100%;
}

.side-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.tab-items {
    font-size: 1.4rem;
    padding: 20px;
}

.tab-a {
    color: rgb(89, 114, 143);
}

.social-links {
    margin: auto;
    text-align: center;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.social-links .fab {
    color: rgb(89, 114, 143);
    font-size: 1.7rem;
}


@media (min-width: 980px) {
    .barShown {
        width: 30%;
    }
}
